<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>163邮箱</string>
		<key>title</key>
		<string>share_platform_email.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>印象笔记</string>
		<key>title</key>
		<string>share_platform_evernote.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>信息</string>
		<key>title</key>
		<string>share_platform_imessage.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>QQ</string>
		<key>title</key>
		<string>share_platform_qqfriends.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>QQ空间</string>
		<key>title</key>
		<string>share_platform_qzone.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>人人</string>
		<key>title</key>
		<string>share_platform_renren.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>新浪</string>
		<key>title</key>
		<string>share_platform_sina.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>腾讯微博</string>
		<key>title</key>
		<string>share_platform_tencent.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>微信</string>
		<key>title</key>
		<string>share_platform_wechat.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>微信朋友圈</string>
		<key>title</key>
		<string>share_platform_wechattimeline.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>易信</string>
		<key>title</key>
		<string>share_platform_yixin.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>易信朋友圈</string>
		<key>title</key>
		<string>share_platform_yixintimeline.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>系统</string>
		<key>title</key>
		<string>share_platform_ynote.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>instapaper</string>
		<key>title</key>
		<string>share_platform_instapaper.png</string>
	</dict>
</array>
</plist>
